---
import BaseLayout from '../layouts/Baselayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Blog";
import BlogPost from '../components/Blogpost.astro';
---
<BaseLayout pageTitle={pageTitle}>
	<p>This is where I will post my journey of learning Astro.</p>
	<ul>
		{allPosts.map((post) => <BlogPost url={post.url}title={post.frontmatter.title}/>)}
	</ul>
</BaseLayout>